// FONTES

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;700;800&display=swap');

$lato: 'Lato', sans-serif;
$poppins: 'Poppins', sans-serif;

// CORES

$preto: #333533;
$amarelo: #FFC301;
$cinza: rgba($preto,0.29); 