@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@400;700;800&display=swap");
/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url("../img/img-fundo.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 5rem;
  overflow-y: hidden;
  overflow-x: hidden;
  color: #333533;
}

.grid-2-colunas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
}

.grid-3-colunas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 0 auto;
}

.filtro {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  transition: 0.6s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.modal {
  position: fixed;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.6s ease-in-out;
  z-index: -2;
}
.modal .fechar-modal {
  width: 50px;
  height: 50px;
  background-color: #FFC301;
  border: none;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: -25px;
  right: 25px;
}
.modal .fechar-modal img {
  width: 1.5rem;
  height: 1.5rem;
}

.cont_quantity {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cont_quantity h4 {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}
.cont_quantity h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.quantity {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.quantity h5 {
  font-family: "Lato", sans-serif;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

.quantidade {
  display: flex;
  gap: 0.5rem;
}

.adicionar {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.adicionar .add {
  border: none;
  background-color: rgb(51, 51, 51);
  color: white;
  text-align: center;
  width: 150px;
  height: 50px;
  border-radius: 1rem;
  background-color: #333533;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
}

.valor-quantidade {
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  width: 50px;
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.aberto {
  opacity: 1;
  top: 50%;
  transition: 0.6s ease-in-out;
  z-index: 2;
}

.btn-plus {
  display: flex;
  width: 35px;
  height: 35px;
  border: none;
  background-color: orangered;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  background-color: #FFC301;
}

.btn-minus {
  display: flex;
  width: 35px;
  height: 35px;
  border: none;
  background-color: orangered;
  align-content: center;
  justify-content: center;
  align-items: center;
  border-radius: 20%;
  background-color: #FFC301;
}

header .logo img {
  position: absolute;
  padding: 1.5rem;
}

.container-selecao h2 {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin: 1rem;
}

.path {
  display: flex;
}
.path img {
  transform: rotate(180deg);
  margin-right: 1rem;
  display: none;
}
.path h2 {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin: 1rem;
}
.path .atual {
  opacity: 0;
  z-index: -2;
}
.path .aparece img {
  display: block !important;
}
.path .aparece .atual {
  opacity: 1;
  z-index: 2;
}

.categoria {
  background-color: white;
  border-radius: 1.5rem;
  width: 18rem;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  cursor: pointer;
  transition: 0.6s ease-in-out;
  box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.3);
}
.categoria .img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoria .titulo-categoria {
  width: 18rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.categoria .titulo-categoria h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}
.categoria .icon {
  width: 6.25rem;
  height: 6.25rem;
  background-color: #FFC301;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoria .icon img {
  width: 3.1rem;
  height: 3.1rem;
}
.categoria:hover {
  background-color: #FFC301;
  color: white;
}
.categoria .img-item {
  max-width: 14rem;
  max-height: 10rem;
  margin-top: 1rem;
}
.categoria .info-item {
  width: 18rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.categoria .info-item h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}
.categoria .info-item img {
  background-color: #FFC301;
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
}
.categoria .titulo-item {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.categoria .titulo-item p {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.lista {
  background-color: white;
  color: #333533;
  font-family: "Lato", sans-serif;
  border-radius: 1.5rem;
  width: 20rem;
  height: 28rem;
  padding: 1rem;
  box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.3);
}
.lista .produtos-aberto {
  display: block;
}
.lista .produtos-aberto ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lista .produtos-aberto ul li .nome-produto-carrinho {
  font-weight: bold;
}
.lista .produtos-aberto ul li .botoes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lista .produtos-aberto button {
  background-color: #FFC301;
  border-radius: 0.625rem;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: none;
  cursor: pointer;
  transition: 0.6s ease-in-out;
}
.lista .produtos-carrinho {
  display: none;
}

.container-pagamento h2 {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  margin: 1rem;
}
.container-pagamento .expand-btn {
  display: none;
}

.pagamento {
  background-color: #FFC301;
  border-radius: 1.5rem;
  width: 20rem;
  height: 7.8rem;
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 1.3rem;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 2rem;
}
.pagamento .preco-pagar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  font-weight: 700;
  font-size: 2.3rem;
}
.pagamento .btn-pagar {
  background-color: #333533;
  border-radius: 1rem;
  width: 7.5rem;
  height: 4rem;
  text-align: center;
  font-weight: 700;
  font-size: 1rem;
}

.comidas {
  display: none;
}

.bebidas {
  display: none;
}

.cafetaria {
  display: none;
}

.sandes {
  display: none;
}

.alcoolicas {
  display: none;
}

.sobremesas {
  display: none;
}

.confirmar-pagamento {
  height: 35rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
}
.confirmar-pagamento h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}
.confirmar-pagamento .produtos-carrinho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 1rem;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}
.confirmar-pagamento .total h4 {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  color: #FFC301;
}
.confirmar-pagamento .total .preco-pay {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}
.confirmar-pagamento .btn-confirmar {
  background-color: #333533;
  color: white;
  border-radius: 1rem;
  width: 15rem;
  height: 4rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

@media all and (max-width: 768px) {
  body {
    overflow-y: scroll;
  }
  h3 {
    font-weight: 400;
  }
  .grid-2-colunas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: -3rem;
  }
  .grid-3-colunas {
    grid-template-columns: repeat(2, 1fr);
  }
  .inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .categoria {
    width: 9rem;
    height: 9rem;
  }
  .categoria .titulo-categoria {
    width: 9rem;
  }
  .categoria .titulo-categoria h3 {
    font-size: 1rem;
  }
  .categoria .icon {
    width: 4.5rem;
    height: 4.5rem;
  }
  .categoria .icon img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .categoria .img-item {
    max-width: 60%;
    max-height: 50%;
  }
  .categoria .info-item {
    width: 9rem;
    gap: -1rem;
  }
  .categoria .info-item h3 {
    font-size: 0.9rem;
  }
  .categoria .info-item img {
    border-radius: 0.25rem;
    padding: 0.25rem;
  }
  .categoria .titulo-item {
    max-height: 2rem;
    gap: -1rem;
  }
  .categoria .titulo-item p {
    font-size: 0.8rem;
  }
  .expand {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #333533;
    position: fixed;
    margin-top: -3rem;
    margin-left: -10rem;
    z-index: 2;
  }
  .expand .produtos {
    display: none;
  }
  .expand .lista {
    height: 0;
    overflow: hidden;
    padding: 0 6rem;
  }
  .expand .expand-btn {
    display: block;
    background-color: transparent;
    border: none;
    padding: 1rem;
    transition: 0.3s ease-in-out;
  }
  .expand .expand-btn.aberto {
    transform: rotate(180deg);
  }
  .pagamento {
    position: fixed;
    margin-top: 0.5rem;
    margin-left: -10rem;
    z-index: 1;
  }
}/*# sourceMappingURL=style.css.map */