@use 'reset';
@use 'base' as *;

// ESTILOS GERAIS

body {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url('../img/img-fundo.jpg');
    background-position: center;
    background-size: cover;
    margin-left: 5rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.grid-2-colunas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin: 0 auto;
}

.grid-3-colunas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 auto;
}

// ESTILOS ESPECÍFICOS

header{
    .logo {
        img {
            position: absolute;
            padding: 1.5rem;
        }
    }

}

.container-selecao{
    h2 {
        font-family: $poppins;
        font-size: 0.9rem;
        margin: 1rem;
    }
    .path{
        display: flex;
        img{
            transform: rotate(180deg);
            margin-right: 1rem;
        }
        .antigo{
            color: $cinza;
        }
    }
}

.categoria{
    background-color: white;
    border-radius: 1.5rem;
    width: 18rem;
    height: 18rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    box-shadow: 5px 5px 7px 1px rgba($color: #000000, $alpha: 0.30);
    .img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .titulo-categoria {
        width: 18rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        h3 {
            font-family: $poppins;
            font-weight: 800;
            font-size: 1.5rem;
        }
    }
    .icon{
        width: 6.25rem;
        height: 6.25rem;
        background-color: $amarelo;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 3.1rem;
            height: 3.1rem;
        }
    }
    &:hover {
        background-color: $amarelo;
        color: white;
    }

    .img-item{
        max-width: 14rem;
        max-height: 10rem;
        margin-top: 1rem;
    }
    
    .info-item{
        width: 18rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        
        h3 {
            font-family: $poppins;
            font-weight: 800;
            font-size: 1.5rem;
        }
        img{
            background-color: $amarelo;
            border-radius: .75rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: .75rem;
        }
    }
    .titulo-item{
        display: flex; 
        align-self:  flex-start;
        flex-direction: column;
        p{
            font-family: $lato;
            font-size: 1rem;
        }
    }
}

.lista {
    background-color: white;
    color: $preto;
    font-family: $lato;
    border-radius: 1.5rem;
    width: 20rem;
    height: 28rem;
    padding: 1rem;
    box-shadow: 5px 5px 7px 1px rgba($color: #000000, $alpha: 0.30);
}

.container-pagamento {
    h2{
        font-family: $poppins;
        font-size: 0.9rem;
        margin: 1rem;
    }
}

.pagamento {
    background-color: $amarelo;
    border-radius: 1.5rem;
    width: 20rem;
    height: 7.8rem;
    color: white;
    font-family: $poppins;
    padding: 1.3rem;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 2rem;

    .preco-pagar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        font-weight: 700;
        font-size: 2.3rem;
    }

    .btn-pagar {
        background-color: $preto;
        border-radius: 1rem;
        width: 7.5rem;
        height: 4rem;
        text-align: center;
        font-weight: 700;
        font-size: 1rem;
    }
}

.comidas{
    display: none; 
}

.bebidas{
    display: none;
}

.cafetaria{
    display: none;
}